<nav class="main-navigation">
  <ul class="nav-list">
    {% for item in site.data.navigation.main %}
      <li class="nav-item{% if item.submenu %} has-submenu{% endif %}">
        <a href="{{ item.url | relative_url }}" class="nav-link{% if page.url == item.url %} active{% endif %}">
          {{ item.name }}
        </a>
        {% if item.submenu %}
          <ul class="submenu">
            {% for subitem in item.submenu %}
              <li class="submenu-item">
                <a href="{{ subitem.url | relative_url }}" class="submenu-link{% if page.url == subitem.url %} active{% endif %}">
                  {{ subitem.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>